<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button mat-raised-button routerLink="" class="ml-20"  routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}" >Users</button>
  <button mat-raised-button routerLink="post" class="ml-12"  routerLinkActive="selected" [routerLinkActiveOptions]="{exact:true}">Post</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

